<h2>Transactions for <%= @account.account_type %> </h2>

<table border="1">
	<tr>
		<td>Date</td>
		<td>Memo</td>
		<td>Amount</td>
		<td></td>
	</tr>
	<% @account.transactions.order(:date).each do |transaction| %>
		<tr>
			<td><%== text_field_tag "date#{transaction.id}", "#{transaction.date}" %></td>
			<td><%== text_field_tag "memo#{transaction.id}", "#{transaction.memo}" %></td>
			<td><%== text_field_tag "amount#{transaction.id}", "#{transaction.amount}" %></td>
			<td><%== submit_tag "Delete transaction #{transaction.id}" %></td>
		</tr>
	<% end %>
	<tr>
		<td><%== text_field_tag :new_date %></td>
		<td><%== text_field_tag :new_memo %></td>
		<td><%== text_field_tag :new_amount %></td>
	</tr>
</table>
<p><%== submit_tag "Save" %></p>