
<table>
	<tr>
		<th></th>
		<% @colors.each do |color| %>
			<th><%= color.name %>
			<% end %>
		</th>
	</tr>
	<% @vehicles.each do |vehicle| %>
	<tr>
		<td><%= vehicle.name %></td>
	  	<% @colors.each do |color| %>
	    	<td style="background-color:#<%= color.html_color %>">
	      		<a href="/<%= color.id %>/<%= vehicle.id %>">
	        		<img src="/images/<%= vehicle.image %>">
	      		</a>
	    	</td>
	    <% end %>
	  </tr>
	<% end %>
</table>