<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.keys.each do |key| %>
  <div class="flash flash-<%= key %>">
    <%= flash[key] %>
  </div>
<% end %>

<% if session[:user_id] != nil %>
	<p>You must <a href="/login">login</a> to edit or create a new post.
<% else %>
	<p>You are logged in as <%= @author %> Write <a href="/new">new post</a> or <a href="/logout">logout</a>
	</p>
			
<% end %>
<hr>
<%= yield %>

</body>
</html>
